{% extends 'layouts/base-user.html' %}
{% load static %}
{% block content %}
<main>
    <section class="dshproduct">
        <h2>ADD NEW SLIDER</h2>
        <a href="{% url 'sliders' %}"><button class="btnreturn">Return</button></a>
    </section>
    <section class="addcontainer">
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3>Add information about your page</h3>
                {% for field in form %}
                    {{ field }}
                {% endfor%}
            <input type="submit" value="Submit" class="btn-submit">
            </div>
        </form>
    </section>
</main>

{% endblock %}
