{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.svg' %}" type="image/x-icon">
    <title>{{pageTitle}} | Marketplace</title>
</head>
<body>
    <header>

    </header>
        <nav>
            <ul class="side-a">
                <a href="{% url 'index' %}"><img src="{% static 'img/icon.svg' %}" alt="" class="icon"></a>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'products' %}">Products</a>
                </li>
                <li>
                    <a href="{% url 'categories-page' %}">Categories</a>
                </li>
            </ul>
            <ul class="side-b">
                <li>
                    <a href="{% url 'login' %}"><img src="{% static 'img/cart.svg' %}" alt="" class="cart-icon"></a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><img src="{% static 'img/login.svg' %}" alt="" class="login-icon"></a>
                </li>
            </ul>
        </nav>
        
        {% block content %}
        {% endblock %}
    
</body>
</html>